.first-half{
    background-color: white;
    float: left;
    width: 50%;

    .add-btn{
        .ant-form-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}

.sec-half{
    background-color: white;
    float: right;
    width: 50%;

    .submitButton {
        margin-bottom: 30px;
    }
}

.formTitle {
    font-weight: 100;
    font-size:32px;
    padding:2% 11%;

}
.icon{
    font-weight: 30;
    font-size:16px;
    padding:0% 33%;
}


@media only screen and (max-width: 1200px) {

    .first-half{
        background-color: white;
        float: left;
        width: 100%;
    }

    .formTitle {
        text-align: center;
        font-weight: 100;
        font-size:32px;
    }

    .sec-half{
        background-color: white;
        float: right;
        width: 100%;
    }

    .icon{
        font-weight: 30;
        font-size:16px;
        text-align: center;
    }
}
