.image-container {
    height: 90vh;
    background-image: url("/images/Field.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
