.table-container {
    padding: 10px;
    .search-icon {
        display: flex;
        align-items: center;
        display-content: center;
        vertical-align: sub;
        padding: 8px;

    }

    .top {
        display: flex;
        .reset {
            margin: 10px;
        }

        .csv {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px;
            vertical-align: sub;
            font-size: 12px;
        }
    }

}
.box{
  font-style: normal;
  cursor: pointer;
}
