.login {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .text {
        margin-bottom: 20px;
        color: #fff;
    }

    .ant-form {
        padding: 60px;
        align-self: center;

        .ant-form-item {
            width: 100%;
        }
    }

    .reg {
        margin-left: 20px;
        color: #fff;
    }

    .login-error {
        padding: 4px;
        margin-bottom: 20px;
        background: rgba(255,255,255,0.4);
        z-index: 10;
        color: red;
        .msg {
            padding: 10px;
        }
    }
}

