.layout {

    .content {
        height: 90vh;
        overflow: auto;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px;
        background: #f0f2f5;
        text-align: center;
        margin-top: 20px;
        z-index: 0;
    }
}
