.register {
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: auto;
    flex-direction: column;
    align-items: center;

    .ant-form {
        padding: 30px;
        border: 1px solid #efefef;
        align-self: center;
    }

    .reg {
        margin-left: 20px;
    }

    .error {
        color: red;
        padding: 10px;
    }
}

