.bar {
      display: flex;
      flex-basis: 100%;
      background: #343a40;
      text-align: right;
      height: 60px;
      color: white;

      .header {
          flex-basis: 40%;
          margin-left: 20px;
          text-align: left;
          padding: 15px;
          color: #FF8c00;
          font-size: 20px;
          span {
              font-weight: 300;
          }
      }
      .container {
          padding: 20px;
          margin-left:auto;
          margin-right:0;

          .item{
              padding: 15px;
              color: #FF8c00;
              margin-right: 4px;
              text-decoration: none;
              font-weight: bold;
          }

          .item:hover {
              color: #FF8c00;
              background-color: #212520;
              margin-right: 4px;
              cursor: pointer;
          }
      }
  }
