.content {
    .list-view {
        padding: 10px;

        .ant-list-item {
            padding: 5px;
        }
    }

    .add-owner {
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        left:40px;
        background-color:#FF8c00;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 2px 2px 3px #999;
        z-index: 11;

        .my-float{
            margin-top:22px;
        }
    }
}
