.Form_Field {
  margin-bottom: 40px;
  font-size: 1em;
  font-weight: 300;
}

.Form_Field_Label {
  display: block;
  text-transform: uppercase;
  font-size: 1.25em;
  color: chocolate;
}

.Form_Field_Input {
  width: 40%;
  background-color: transparent;
  border: blanchedalmond;
  color: darkcyan;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.Form_Field_Select {
  width: 40%;
  background-color: transparent;
  border: blanchedalmond;
  color: darkcyan;
  outline: none;
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
}
.Form_Center {
  margin-top: 70px;
  margin-left: 200px;
  margin-right: 100px;
}

.Form_Title {
  color: chocolate;
  margin-left: 500px;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 50px;
}

.Form_Field_Button {
  background-color: lightsalmon;
  color: white;
  border-radius: 25px;
  padding: 15px 50px;
  font-size: 1.5em;
  font-weight: 400;
  margin-left: 400px;
}

.Form {
  background-color: lightcyan;
}
