/*
.oasdas{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: rgba(0,0,0,0.1);
}
*/

.load {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.8);
    z-index: 10;

    .ld {

        position: relative;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        top: 50%;
        color: #FF8c00;
    }
  }
