.top-header {
    display: flex;
    padding: 20px;

    .formTitle {
        font-weight: 100;
        font-size:32px;
        padding:2% 11%;
        flex-basis: 60%;

    }
    .btn-sub {
        display: flex;
        flex-basis: 27%;
        vertical-align: sub;
        justify-content: flex-end;
        align-items: center;

    }
}
.first-half{
    background-color: white;
    float: left;
    width: 50%;
    height: 80vh;
}

.sec-half{
    background-color: white;
    float: right;
    width: 50%;

}

.icon{
    font-weight: 30;
    font-size:16px;
    padding:0% 33%;
}


@media only screen and (max-width: 1200px) {

    .first-half{
        background-color: white;
        float: left;
        width: 100%;
    }

    .formTitle {
        text-align: center;
        font-weight: 100;
        font-size:32px;
    }

    .sec-half{
        background-color: white;
        float: right;
        width: 100%;
    }

    .icon{
        font-weight: 30;
        font-size:16px;
        text-align: center;
    }
}
